body {
    float: left;
    text-allign: center;
}

.games-list {
    display: block;
    margin: 15px;
    padding: 10px;
    padding-bottom: 10px;
    height: 500px;
    width: fit-content;

}
.games-list li {
    float: left;
    padding-left: 10px
}
.games-list li:hover {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
.clear {
    display: none;
}

footer {
  text-allign: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
