/* General CSS (applies to all pages) */
.clear {
    display: none;
}
body {
    float: left;
    text-allign: center;
}
footer {
    text-align: center;
    position: absolute;
    bottom:0;
    width:100%;
    height:60px; 
    padding-top: 15px;
}

/* Homepage */
.games-list {
    display: block;
    height: auto;
    width: auto;
}
.games-list li {
    float: left;
    padding: 10px;
}

/* Game Page */
.game-page {
    margin-left: 512px;
}
.button {
    margin-left: 512px;
    text-align: center;
    text-decoration: none;
}

.button p:hover {
    text-decoration: underline;
    font-weight: bold;
}


