.flag {
	width: 25px;
	height: 15px;
	background:url(flags.png) no-repeat
}

.flag.flag-af {background-position: -25px 0}
.flag.flag-al {background-position: -50px 0}
.flag.flag-am {background-position: -75px 0}
.flag.flag-an {background-position: -100px 0}
.flag.flag-ao {background-position: -125px 0}
.flag.flag-ar {background-position: -150px 0}
.flag.flag-at {background-position: -175px 0}
.flag.flag-au {background-position: -200px 0}
.flag.flag-aw {background-position: -225px 0}
.flag.flag-az {background-position: -250px 0}
.flag.flag-ba {background-position: -275px 0}
.flag.flag-bb {background-position: -300px 0}
.flag.flag-bd {background-position: 0 -15px}
.flag.flag-be {background-position: -25px -15px}
.flag.flag-bf {background-position: -50px -15px}
.flag.flag-bg {background-position: -75px -15px}
.flag.flag-bh {background-position: -100px -15px}
.flag.flag-bi {background-position: -125px -15px}
.flag.flag-bj {background-position: -150px -15px}
.flag.flag-bm {background-position: -175px -15px}
.flag.flag-bn {background-position: -200px -15px}
.flag.flag-bo {background-position: -225px -15px}
.flag.flag-br {background-position: -250px -15px}
.flag.flag-bs {background-position: -275px -15px}
.flag.flag-bt {background-position: -300px -15px}
.flag.flag-bw {background-position: 0 -30px}
.flag.flag-by {background-position: -25px -30px}
.flag.flag-bz {background-position: -50px -30px}
.flag.flag-ca {background-position: -75px -30px}
.flag.flag-cf {background-position: -100px -30px}
.flag.flag-cg {background-position: -125px -30px}
.flag.flag-ch {background-position: -150px -30px}
.flag.flag-ci {background-position: -175px -30px}
.flag.flag-ck {background-position: -200px -30px}
.flag.flag-cm {background-position: -225px -30px}
.flag.flag-cn {background-position: -250px -30px}
.flag.flag-co {background-position: -275px -30px}
.flag.flag-cr {background-position: -300px -30px}
.flag.flag-cu {background-position: 0 -45px}
.flag.flag-cv {background-position: -25px -45px}
.flag.flag-cy {background-position: -50px -45px}
.flag.flag-cz {background-position: -75px -45px}
.flag.flag-de {background-position: -100px -45px}
.flag.flag-dk {background-position: -125px -45px}
.flag.flag-dz {background-position: -150px -45px}
.flag.flag-ec {background-position: -175px -45px}
.flag.flag-ee {background-position: -200px -45px}
.flag.flag-eg {background-position: -225px -45px}
.flag.flag-er {background-position: -250px -45px}
.flag.flag-es {background-position: -275px -45px}
.flag.flag-et {background-position: -300px -45px}
.flag.flag-fi {background-position: 0 -60px}
.flag.flag-fj {background-position: -25px -60px}
.flag.flag-fo {background-position: -50px -60px}
.flag.flag-fr {background-position: -75px -60px}
.flag.flag-ga {background-position: -100px -60px}
.flag.flag-gb {background-position: -125px -60px}
.flag.flag-ge {background-position: -150px -60px}
.flag.flag-gi {background-position: -175px -60px}
.flag.flag-gl {background-position: -200px -60px}
.flag.flag-gp {background-position: -225px -60px}
.flag.flag-gr {background-position: -250px -60px}
.flag.flag-gt {background-position: -275px -60px}
.flag.flag-gu {background-position: -300px -60px}
.flag.flag-gy {background-position: 0 -75px}
.flag.flag-hk {background-position: -25px -75px}
.flag.flag-hr {background-position: -50px -75px}
.flag.flag-ht {background-position: -75px -75px}
.flag.flag-hu {background-position: -100px -75px}
.flag.flag-id {background-position: -125px -75px}
.flag.flag-ie {background-position: -150px -75px}
.flag.flag-il {background-position: -175px -75px}
.flag.flag-in {background-position: -200px -75px}
.flag.flag-iq {background-position: -225px -75px}
.flag.flag-ir {background-position: -250px -75px}
.flag.flag-is {background-position: -275px -75px}
.flag.flag-it {background-position: -300px -75px}
.flag.flag-jm {background-position: 0 -90px}
.flag.flag-jo {background-position: -25px -90px}
.flag.flag-jp {background-position: -50px -90px}
.flag.flag-ke {background-position: -75px -90px}
.flag.flag-kg {background-position: -100px -90px}
.flag.flag-kh {background-position: -125px -90px}
.flag.flag-ki {background-position: -150px -90px}
.flag.flag-kp {background-position: -175px -90px}
.flag.flag-kr {background-position: -200px -90px}
.flag.flag-ky {background-position: -225px -90px}
.flag.flag-kz {background-position: -250px -90px}
.flag.flag-lb {background-position: -275px -90px}
.flag.flag-lc {background-position: -300px -90px}
.flag.flag-lk {background-position: 0 -105px}
.flag.flag-lt {background-position: -25px -105px}
.flag.flag-lu {background-position: -50px -105px}
.flag.flag-lv {background-position: -75px -105px}
.flag.flag-ly {background-position: -100px -105px}
.flag.flag-mc {background-position: -125px -105px}
.flag.flag-md {background-position: -150px -105px}
.flag.flag-mg {background-position: -175px -105px}
.flag.flag-mn {background-position: -200px -105px}
.flag.flag-mo {background-position: -225px -105px}
.flag.flag-mp {background-position: -250px -105px}
.flag.flag-ms {background-position: -275px -105px}
.flag.flag-mx {background-position: -300px -105px}
.flag.flag-my {background-position: 0 -120px}
.flag.flag-mz {background-position: -25px -120px}
.flag.flag-na {background-position: -50px -120px}
.flag.flag-nc {background-position: -75px -120px}
.flag.flag-nf {background-position: -100px -120px}
.flag.flag-nl {background-position: -125px -120px}
.flag.flag-no {background-position: -150px -120px}
.flag.flag-np {background-position: -175px -120px}
.flag.flag-nr {background-position: -200px -120px}
.flag.flag-nz {background-position: -225px -120px}
.flag.flag-om {background-position: -250px -120px}
.flag.flag-pa {background-position: -275px -120px}
.flag.flag-pe {background-position: -300px -120px}
.flag.flag-pf {background-position: 0 -135px}
.flag.flag-ph {background-position: -25px -135px}
.flag.flag-pk {background-position: -50px -135px}
.flag.flag-pl {background-position: -75px -135px}
.flag.flag-pm {background-position: -100px -135px}
.flag.flag-pr {background-position: -125px -135px}
.flag.flag-pt {background-position: -150px -135px}
.flag.flag-py {background-position: -175px -135px}
.flag.flag-qa {background-position: -200px -135px}
.flag.flag-ro {background-position: -225px -135px}
.flag.flag-ru {background-position: -250px -135px}
.flag.flag-sa {background-position: -275px -135px}
.flag.flag-sb {background-position: -300px -135px}
.flag.flag-sd {background-position: 0 -150px}
.flag.flag-se {background-position: -25px -150px}
.flag.flag-sg {background-position: -50px -150px}
.flag.flag-si {background-position: -75px -150px}
.flag.flag-sk {background-position: -100px -150px}
.flag.flag-sl {background-position: -125px -150px}
.flag.flag-so {background-position: -150px -150px}
.flag.flag-tc {background-position: -175px -150px}
.flag.flag-tg {background-position: -200px -150px}
.flag.flag-th {background-position: -225px -150px}
.flag.flag-tn {background-position: -250px -150px}
.flag.flag-to {background-position: -275px -150px}
.flag.flag-tr {background-position: -300px -150px}
.flag.flag-tt {background-position: 0 -165px}
.flag.flag-tv {background-position: -25px -165px}
.flag.flag-tw {background-position: -50px -165px}
.flag.flag-tz {background-position: -75px -165px}
.flag.flag-ua {background-position: -100px -165px}
.flag.flag-ug {background-position: -125px -165px}
.flag.flag-us {background-position: -150px -165px}
.flag.flag-uy {background-position: -175px -165px}
.flag.flag-va {background-position: -200px -165px}
.flag.flag-ve {background-position: -225px -165px}
.flag.flag-vg {background-position: -250px -165px}
.flag.flag-vi {background-position: -275px -165px}
.flag.flag-vn {background-position: -300px -165px}
.flag.flag-ws {background-position: 0 -180px}
.flag.flag-ye {background-position: -25px -180px}
.flag.flag-za {background-position: -50px -180px}
.flag.flag-zw {background-position: -75px -180px}
