html {
    background-color: #f2f2f2;
}
body {
    background-color: #f2f2f2;
    padding: 24px;
}
.center {
    text-align: center;
}
h1,
h2,
h3,
p,
li {
    font-family: 'Segoe UI', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 12px 0;
    color: #777;
}
.container .row {
    background-color: #fff;
    width: 1325px;
    margin-bottom: 24px;
    padding: 24px;
    display: inline-block;
}
ul li {
    float: left;
    margin: 12px;
    padding: 6px 0px;
    width: 1225px;
    list-style: none;
}
.hide {
	display: none;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #444;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .logout {
  	float: right;
    width: 12px;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}

