html {
	background-color: #fff;
}
body {
	background-color: #f2f2f2;
	padding: 24px;
}
h1,
h2,
p,
li {
	font-family: 'Segoe UI', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: 12 0;
	color: #777;
}
.container {
	background-color: #fff;
	border-color: #adadad solid 2px;
	width: 360px;
}
.row-one,
.row-two,
.row-three {
	background-color: #d6d6d6;
	border-color: #adadad solid 2px;
	margin-bottom: 24px;
}
