box_container /*@import url('http://fonts.googleapis.com/css?family=Oswald); */

#container{}

/* GENERAL */
body {padding: 0; margin: 0 auto; background:url('../images/bg_body.jpg'); font: 11px Verdana, Arial; text-align: left;}
.fr {float:right}
.fl {float:left}
.r5{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.r10{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.r5b{-webkit-border-bottom-right-radius: 5px;
     -webkit-border-bottom-left-radius: 5px;
     -moz-border-radius-bottomright: 5px;
     -moz-border-radius-bottomleft: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;}
#wrapper {position:relative; text-align:center; width:1004px; margin:0 auto}
a {text-decoration: none;}
a:hover, a:focus {text-decoration: none;}
a:focus {outline: none;}
img{border:0; vertical-align: top;}
.left{float:left}
.right{float:right}
.space-all{padding:10px}


/* LAYOUT */
.clear{clear: both;}
#container {width:1004px; position:relative; background:#fff;  float:left; margin:0 auto}
#content {background-color: #f5590e;background-image:url('../images/bg_most_game.jpg'); background-repeat: repeat-x; }
#content_in {float:left; padding:0 10px; position:relative }


/* HEADER */
#header{width:1004px;margin-top:0px; position:relative;/* background:url('../images/header.png') no-repeat top center; */}
.top_header{height:68px; background-image:url('../images/bg_header.jpg'); background-repeat: repeat-x;}
#logo {width:214px; height:27px;float: left; margin: 14px 0 0 8px;}
#headerads{
    width: 468px;
    height: 60px; 
    float: left;
    margin: 3px;
    padding-left: 35px;
}
.login_box{width: 160px; position: absolute; top: 30px;  background-color: #fff; z-index: 1000; right:0px; padding:20px; display: none;
           -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
           -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
           box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


#fld_username2 {margin:0;width: 89px; height:13px;border-radius: 0px; float: left; background-color: #e8e8e8; border:1px solid #a1a1a1; color:#000; padding:5px; padding-bottom:2px;}
#fld_pwd2 {margin:3px 0 0 0; width: 99px;padding: 0px;border-radius: 0px; height:20px;background-color: #e8e8e8; border:1px solid #a1a1a1; color:#000;  float: left;}
#loginbtn{float: right;cursor: pointer; border:1px solid #ccc; background-color: #ddd; color:#000;}
#loginbtn:hover{ color:#f5590e;}
.login_box lable{width: 70px;display: block;float: left;text-align: left;margin-top: 5px; color:#000}
.menu{background-image: url('../images/bg_menu.jpg');float: left;width: 100%;}
.menu ul{margin: 0;padding: 0;}
.menu li{list-style:none;float: left;}
.menu a{display: block;color: #8d8d8d;font-size: 16px;line-height: 65px;padding:0 17px;height: 100%;}
.menu .active{outline:1px solid #ccc; border-top:0px; border-bottom: 0px; background-image: url('../images/bg_menu_active.jpg');}
.menu a:hover{color:#000;}


#topmenu{float:left; position:absolute; left:240px; top:10px; }
#topmenu ul{margin: 0; padding: 0; text-align: left;}
#topmenu li{list-style-type: none; display: inline; padding-bottom: 1px;}
#topmenu a, .topmenu a:visited{padding: 0 5px; text-decoration: none; color: #ffffff; font:bold 12px tahoma}
#topmenu a:hover, .topmenu a:active{color: #ffea00;}

#menu_area{float:left; position:absolute; left:5px; top:140px; width:994px; height:120px; background:url('../images/top_menu.png') no-repeat top center;}

#catmenu{float:left; position:absolute; left:10px; top:12px;  }
#catmenu ul{margin: 0; padding: 0; text-align: left;}
#catmenu li{list-style-type: none; display: inline; padding-bottom: 1px;}
#catmenu a, .catmenu a:visited{padding: 0 5px; text-decoration: none; color: #ffffff; font-family: 'Oswald'; font-size:16px; font-weight:400; text-shadow:1px 1px 1px #000; }
#catmenu a:hover, .catmenu a:active{color: #ffea00;}

#submenu{float:left; position:absolute; left:10px; top:50px; }
#submenu ul{margin: 0; padding: 0; text-align: left;}
#submenu li{list-style-type: none; display: inline; padding-bottom: 1px;}
#submenu a, .submenu a:visited{padding: 0 5px; text-decoration: none; color: #ffffff; font-family: 'Oswald'; font-size:14px; font-weight:400;}
#submenu a:hover, .submenu a:active{color: #111111;}

#top_row {padding:5px; float:left; background:#befa5e; border:1px solid #75b908; height:29px; width:982px; position:absolute; left:0px; top:80px; text-align:left;}
#top_row a {font:16px 'Oswald'; color:#3a8f04; padding:0 10px 0 5px; }
#top_row a:hover {color:#FFF; text-shadow:1px 1px 1px #000;}


/* MEMBERS AREA*/

#members_area{float:left; position:absolute; right:5px; top:5px; }
#members_area input{ background:url('../images/input.png') no-repeat top left;  border:none;  width:125px; height:28px; font:10px verdana; padding-left:5px; padding-right:5px; color:#666666}
#members_area #loginbtn{background: transparent url('../images/login.png') no-repeat top left; margin: 0; padding: 0; border: 0; width:41px; height:28px; cursor: pointer;}

#members_area #memebr_title{float:left; padding:3px 2px; font:10px verdana; color:#ffffff;}
.space{float:left; padding:2px; color: #000;height: 27px;}
.login_box a{  
    display: block;
    color: #000;
    text-decoration: underline;
    float: left;
    margin-top: 3px; 
    text-decoration: underline;
    margin-left: 8px;
}
#members_area #form_links{float:left; clear:both} 
#members_area #fb_area{float:left; padding:3px 2px}
#members_area #error_area{float:left; padding:3px 2px;color: #B4212C;}

#signupForm {  
    text-align: left; 
    margin: 0px auto 0px auto;
} 
#signupForm label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    color: red;
    font-style: italic;
}

#signupForm label.valid {
    color: #29AA29;
} 

/* SEARCH AREA*/
#search_area{float:left; position:absolute; right:5px; top:5px; }
#search_area input{ background:url('../images/input.png') no-repeat top left;  border:none;  width:125px; height:28px; font:10px verdana; padding-left:5px; padding-right:5px; color:#666666}
#search_area #searchbtn{background: transparent url('../images/search.png') no-repeat top left; margin: 0; padding: 0; border: 0; width:41px; height:28px; cursor: pointer;}

/* Box Big #1 */
.single_box_outer_most_game{ width: 100%; float: left; background-color: #f4580d; background-image:url('../images/bg_most_game.jpg'); background-repeat: repeat-x;}
.box1_wrap{background-color: #fff; border:1px solid #b66a0c;  margin: 23px 6px 23px 18px; float: left;width:770px;min-height: 657px; }
.box1_wrap_1{background-color: #fff; border:1px solid #b66a0c;  margin: 23px 6px 23px 18px; float: left; width:780px; }
.box1_wrap_2{background-color: #fff; border:1px solid #b66a0c;  margin: 23px 300px 23px 300px; float: left; width:402px; }
.box1_header{width:98%; height:34px; padding-left:10px; line-height: 34px; background-image:url('../images/bg_body.jpg'); float: left; margin: 2px;  color:#fd8f03; font-size:18px; text-align: left;}
.box1_header_2{width:97%; height:34px; padding-left:10px; line-height: 34px; background-image:url('../images/bg_body.jpg'); float: left; margin: 2px;  color:#fd8f03; font-size:18px; text-align: left;}
.box1_footer{height:16px; background:url('../images/box1_footer.gif') no-repeat bottom left; float:left; width:990px;}

/* Box Small */
.box2_wrap{ margin: 0; text-align:center; float:left; margin-bottom:10px; width:326px; background:url('../images/box2_bg.gif') repeat-y left; }
.box2_header{height:50px; background:url('../images/box2_header.gif') no-repeat top left; padding:5px; font:bold 16px 'Oswald'; text-align:left; color:#FFFFFF; padding-left:10px; padding-top:10px; text-shadow:1px 1px 1px #000; }
.box2_footer{height:30px; background:url('../images/box2_footer.gif') no-repeat bottom left; float:left; width:326px;}

/* Box Medium #1 */
.box3_wrap{background-color: #fff; border:1px solid #b66a0c; margin: 23px 18px; float: left; width:969px;}
.box3_header{width:955px;text-align: left; height:34px; padding-left:10px; line-height: 34px; background-image:url('../images/bg_body.jpg'); float: left; margin: 2px;  color:#fd8f03; font-size:18px;}
.box3_header a{color:#FD8F03}
.box3_wrap_1{background-color: #fff; border:1px solid #b66a0c; margin: 23px 18px; float: left; width:710px;}
.box3_header_1{width:98%;text-align: left; height:34px; padding-left:10px; line-height: 34px; background-image:url('../images/bg_body.jpg'); float: left; margin: 2px;  color:#fd8f03; font-size:18px;}
.box3_wrap_2{background-color: #fff; border:1px solid #b66a0c; margin: 23px 18px; float: left; width:210px; padding-bottom: 20px;}
.box3_header_2{width:94%;text-align: left; height:34px; padding-left:10px; line-height: 34px; background-image:url('../images/bg_body.jpg'); float: left; margin: 2px;  color:#fd8f03; font-size:18px;}
.box3_footer{height:16px; background:url('../images/box3_footer.gif') no-repeat bottom left; float:left; width:655px;}

/* Box Big #4 */
.box4_wrap{ margin: 0; text-align:center; float:left; margin-bottom:10px; width:990px; background:url('../images/box4_bg.gif') repeat-y left; }
.box4_header{height:45px; background:url('../images/box4_header.gif') no-repeat top left; padding:5px; font:bold 16px 'Oswald'; text-align:left; color:#FFFFFF; padding-left:10px; padding-top:10px; text-shadow:1px 1px 1px #000; }
.box4_footer{height:16px; background:url('../images/box4_footer.gif') no-repeat bottom left; float:left; width:990px;}

.box_gray{background-color:#cdcdcf;padding-top:25px;padding-bottom:22px; border-bottom: 1px solid #adadaf; text-align: left;}
.about_us{ width:979px; border:1px solid #fff; background-color: #a2a2a2;margin:0px auto; color:#fff;font-size:13px;}
.about_us a{ font-weight: bold;color:#4779B8;}
.title_about{color:#575758;font-size:16px;margin: 10px;}
.lead_about{padding:10px;line-height: 20px;}
/* footer box */
.footer_wrap{border-top:1px solid #e6e6e7;background-color: #575758;}
.footer_wrap ul{float:left; width:190px;margin-top:50px; margin-left:10px;margin-bottom: 50px; text-align: left;list-style: none; padding:0px;}
.footer_wrap li{color:#b5b5b5;margin-top:15px;}
.footer_wrap li a{color:#b5b5b5;}
.footer_wrap li a:hover{color:#fff;}
.title_footer{color:#fff;font-size:14px;}

#poweredby{text-align:right; font:10px tahoma; color:#ccc; padding:5px 15px 0 5px}
#poweredby a{color:#bbb}

.box_container{padding:0px 0px 10px 0px; float:left}
.page_container{padding:20px; float:left; text-align:left; font:12px tahoma; color:#333333; width: 90%;}
.page_description{ text-align: left; padding: 0px 14px; font-size: 14px; line-height: 18px; }
.game_area{float:left; width:630px; padding-left:10px;}

/* GAMES */
.thumb_wrap{width:88px; height:88px; float:left; position:relative; margin:0;}
.thumb_wrap .thumb_bg{position: absolute; top: 0; left: 0; z-index: 5; border: none; width: 78px; height: 78px;	float:left;}
.thumb_wrap .thumb{position: absolute; top: 5px; left: 5px; width: 71px; height:71px; z-index: 3; border: none;	float:left;}
.thumb_wrap .newThumb{position: absolute; height: 65px; width: 65px; top: 0px; left: 21px; z-index: 10;	float:left;}

.thumb_wrap .thumb img{border:none; z-index:1;}

.gamedesc{font:12px tahoma; text-align:justify; color:#999999; overflow:hidden; padding:10px;}
.play_button{text-align:left; padding:5px;float: left;}

/* SIDEBAR */
#sidewrap {float:left; padding:0px; width:180px; }
.sidebar {float:left; border:1px solid #2c87d9; width:180px; margin-bottom:20px; }
.sidebar_content{padding:5px 9px;}
.sidebar_title {height:25px; background:url('../images/boxheader.png') repeat-x top; padding:5px; font:bold 14px "Oswald"; text-align:left; color:#FFFFFF}


/* ADS */
.ads160x600{width:160px; height:600px; background:#ddecfa; border:1px solid #7ac6eb;}
.ads300x250{width:300px; height:250px; background:#ddecfa; border:1px solid #7ac6eb;}
.ads234x60{width:234px; height:60px; background:#ddecfa; border:1px solid #7ac6eb; margin-bottom:20px;}



.green {color: #4FB335;}
.red {color: #D72222;}
.bold {font-weight: bold;}
.center {text-align: center;}
.hidden{display: none;}

/* rating */
#rate{
    margin: 0 auto;
    width: 300px;

}
#rate_wrapper{
    margin: 0 auto;
    width: 225px;
}

#gamerate_rate{
    margin:0 10px;

}

#gamerate_downbox{
    clear: left;
    padding: 10px 5px
}

.btnrate{
    width:18px;
    height: 18px;
    border: 0px;
}
#rateyes{  background: url('../images/ok2.png') no-repeat;margin: 0 5px; }
#rateno{  background: url('../images/no2.png') no-repeat;margin: 0 5px; }

.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 47%;
    top: 0px;
    font:11px arial;
    text-shadow: 1px 1px 0 #fff;
} 

/* Site Pages*/
.pages li{list-style:none; display:inline; padding:0 10px 0 10px}

/* profile */
#myform {  
    text-align: left; 
    margin: 0px auto 0px auto;
} 
#myform label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    color: red;
    font-style: italic;
}

#myform label.valid {
    color: #29AA29;
} 

#adfav_downbox { 
    margin-bottom: 10px;
    background: #ECEEE8;
    padding: 10px;
    border-radius: 6px;
    text-align: left;
}

.addedtofav{
    background: url('../images/yes2.png') no-repeat;
    padding: 5px 31px;
}


.alert .warning{
    font:bold 11px arial;
    text-align: left;
}
.alert .warning,.success,.info,.error{ 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    height: 16px;
    padding: 4px 10px;
}
.alert .warning{ 
    border:solid 1px #D72222;
    color :#D72222; 
}
.alert .success{ 
    border:solid 1px #4FB335;
    color :#4FB335;
}
.top_menu{width:1004px; height:32px; background-image:url('../images/bg_menu_top.jpg'); background-repeat: repeat-x; color:#cdcdcf;}
.box_menu{margin:0px auto;width: 850px;}
.box_menu a{color:#cdcdcf; display: block;float: left; line-height: 32px; margin-left:20px; font-size:13px; }
.box_menu a:hover{color:#fff;}
.copyright{height:85px; background-color: #4f4f50;color:#cdcdcf; text-align: center; line-height: 85px; font-size:13px;}
.copyright a{color:#cdcdcf;}
.copyright a:hover{color:#fff;}
.box_item_most{width:320px; height:84px; float: left; margin-top:3px; padding: 0px; text-align: left; position: relative;}
.box_images_most{width:79px; height:79px; background-color: #cdcdcf; float:left; margin: 4px;}
.box_images_most img {float:left; margin:3px; width:73px; height:73px; position: absolute;}
.box_title_most{width:70%;float:left; color:#292119; font-size:13px; font-weight: bold;}
.box_title_most a{color: #595757;}
.box_title_most a:hover{color:#fd8f03;}
.box_lead_most{color:#858585; font-size:11px; margin-left:5px; margin-top:10px; width:95%;}
.single_box_title{text-align: left;width:625px; height:34px; padding-left:10px; line-height: 34px; background-image:url('../images/bg_body.jpg'); float: left; margin: 2px;  color:#fd8f03; font-size:18px;}
.single_box_outer_most_game{ width: 100%; float: left; background-color: #f4580d; background-image:url('../images/bg_most_game.jpg'); background-repeat: repeat-x;}
.single_box_inner_most_game{height: 307px;background-color: #fff; border:1px solid #b66a0c;  margin: 23px 6px 23px 15px; float: left; width:640px;}
.single_box_title_most{width:100%;float:left; color:#292119; font-size:14px; font-weight: bold; margin-left:5px; height:30px; margin-top:10px;}
.ads_right{ 
    float: right;
    background: #FFF;
    border: 1px solid #B66A0C;
    margin: 23px 10px 0 5px;
}
.box_ads{width:300px; height:250px; margin:0 9px 9px 9px;}
.ads_right_title{width:95%; text-align: left; height:34px; padding-left:10px; line-height: 34px;  background-image:url('../images/bg_body.jpg'); float: left; margin: 3px;margin-bottom:10px; color:#fd8f03; font-size:18px;}
.side_ad{width: 180px; float: right;background: #fff; border:1px solid #b66a0c; margin: 23px 15px 0 6px;}
.side_ad_title{width:97%; height:34px;line-height: 34px;  background-image:url('../images/bg_body.jpg'); float: left; margin: 3px;margin-bottom:10px; color:#fd8f03; font-size:18px;}
.box_side_ad{width:160px; height:600px; margin:0 10px 10px 10px;}
.papular_play_game{background-color: #fff; border:1px solid #b66a0c; margin: 23px 18px; float: left; width:969px;}
.box_cat_game{ width:315px; height:355px; float: left; border:1px solid #9b9b9b; background-color: #fff; margin-left:10px; margin-bottom:10px;}
.lable_action_game{width:130px; height:28px;text-align: center;line-height: 28px;background-color: #fff; color:#000;position:absolute; top: 0px;right:0px;  font-size:14px;border-radius: 0 0 0 5px;font-weight: bold;}
.box_image_title{width:311px; height:86px; margin: 2px;position: relative;}
.box_image_title img{width:100%; height:100%;}
.ui-progressbar-value{height:15px;}

#fld_username{height:20px; padding-left:3px; border: 0px; border:1px solid #ccc; margin-bottom:8px;}
#fld_pwd{height:20px; padding-left:3px; border: 0px; border:1px solid #ccc; margin-bottom:8px;}
.user_lable{background-image: url('../images/user.png'); background-repeat: no-repeat;background-position: left; float: left;width: 30px; height: 28px;}
.pass_lable{background-image: url('../images/pass_lable.png');background-repeat: no-repeat;background-position: left; float: left;width: 30px; height: 28px;}
.email_lable{background-image: url('../images/e_mail.png');background-repeat: no-repeat;background-position: left; float: left;width: 30px; height: 28px;}

.links_login a{color: #f4580d; text-decoration: underline; display: block;float: left; margin-top: 20px;margin-left: 10px;}
.links_login{margin-top: 10px;}


.btn1 {
    margin-top:20px;
    margin-left: 40px;
    background: #CCC;
    color: #FFF;
    display: inline-block;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    font-family: Arial, sans-serif;
    line-height: 25px;
    padding: 0 10px;
    text-decoration: none;
    height:25px;
    border:none;
    text-align: center;
    vertical-align: middle;

}
.green.btn1 {
    background: linear-gradient(#6BDB55,#57B245);
    text-shadow: 1px 1px 1px #57B245;
}

.red.btn1 {
    background: linear-gradient(#D60A0A,#B20808);
    text-shadow: 1px 1px 1px #B20808;
}
.orange.btn1{
    background: linear-gradient(#FE7C0B, #FF5214) repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 1px #DCB753;
    color: white;
}
.blue.btn1 {
    background: linear-gradient(#11A1D6,#0E86B2);
    text-shadow: 1px 1px 1px #0E86B2;
}
.small.btn1 {
    padding: 0 1.5em;
}

.large.btn1 {
    padding: 0 3.5em;
}
.btn1:hover {
    box-shadow: inset 0 1px 1px #e1e0e0,
        inset 0 1.5em 1em rgba(255,255,255,0.3);
    cursor: pointer;
    color: #fff;
}

.btn1:active {
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.2),
        inset 0 1.5em 1em rgba(0,0,0,0.3);
}

input#greenbutton{
    cursor:pointer; 
    padding:5px 25px; 
    background:#35b128;
    border:1px solid #33842a;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    color:#f3f3f3;
    font-size:1.1em;
    width: auto;
}
input#greenbutton:hover, input#greenbutton:focus{
    background-color :#399630;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

input.orangebutton{
    background: none repeat scroll 0 0 #FFA500;
    border: 1px solid #FFFF00;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.1em;
    padding: 5px 25px;
    width: auto;
}
input.orangebutton:hover, input.orangebutton:focus{
    background-color : #FF5214;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}
.images_profile{width:80px; height:90px; background-image:url('../images/icon-idea1-profile1.jpg'); background-repeat: no-repeat; margin:10px 65px}
.box3_wrap_2 a{color:#000; text-decoration: underline; display: block; margin-left:10px; float: left;}
.search_box{
    border: 1px solid #bbbbbb;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 13px;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 2px #eee inset;
    -moz-box-shadow: 1px 1px 2px #eee inset;
    box-shadow: 1px 1px 2px #eee inset;
    position: absolute;
    right: 13px;
    top: 15px;
}
#fld_search{width: 163px;font-size: 15px;float: left; border:0px;padding:3.5px 5px 3.5px 5px;

}
#searchbtn{width: 28px;height: 28px;margin: 0;cursor: pointer;background: url('../images/search.png');background-repeat: no-repeat;border:0px;float: right;}
.sign_in{float:right; margin-right:40px; position: relative;}
.lable_sign_in{
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 70px;
    color: #000;
    height: 20px;
    float: right;
    margin-top: 7px;
    background-color: rgba(255,255,255,.75);
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.75),rgba(255,255,255,0));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.75),rgba(255,255,255,0));
    background-image: -o-linear-gradient(top,#00929f,rgba(255,255,255,0));
    background-image: linear-gradient(to bottom,rgba(255,255,255,.75),rgba(255,255,255,0));
    background-repeat: repeat-x;
}
.lable_sign_in i{width:16px; height:16px; margin-top:2px;float:left;background-image: url('../images/lock_2x.png'); background-repeat: no-repeat; background-position: left;}
.lable_sign_up{ 
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 70px;
    color: #000;
    height: 20px;
    float: right;
    margin-top: 7px;
    border-right:1px solid #000;
    background-color: rgba(255,255,255,.75);
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.75),rgba(255,255,255,0));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.75)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.75),rgba(255,255,255,0));
    background-image: -o-linear-gradient(top,#00929f,rgba(255,255,255,0));
    background-image: linear-gradient(to bottom,rgba(255,255,255,.75),rgba(255,255,255,0));
    background-repeat: repeat-x;
    font-size:11px;
}
.lable_sign_up i{width:16px; height:16px; margin-top:2px;float:left;background-image: url('../images/user_top.png'); background-repeat: no-repeat; background-position: left;}
.lable_sign_up a{}
.obj_css{z-index: 1000; margin: 0px auto;}
#slider{width: 200px;margin: 0px auto; float: left;}
#slider.ui-slider { background: #FFF500  !important; }
.zoom_out{width:20px; height: 20px; background-image:url('../images/gtk_zoom_out.png'); float: left;margin-right:10px;}
.zoom_in{width:20px; height: 20px; background-image:url('../images/gtk_zoom_in.png'); float: left;margin-left:10px;}
.box_zoom{margin: 0px auto; height: 30px; width: 300px;}

#fullscreen {

    /* 
            it is recommended to explicitly set 'color' and 'background-color' properties for "fullscreened" object, 
            because otherwise Opera will use default styles "background-color: #000000; color: #fffff;".
    */
    color: inherit;	
}
.requestfullscreen{width:20px; height:20px; background-image: url('../images/1394019653_fullscreen.png'); display: block;float: right;}
.jrating{
    position: absolute;
    bottom: 10px;
    left: 90px;
}

.heading404{
    font: bold 65px tahoma;
    color: #E00;
}
.help-block{color:#cccccc}
.formSep{
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #dcdcdc;
}

.social_links{
    height: 20px;
    padding: 10px;
}
.social_links a{
    padding:0 4px;
}
.tags{
    padding: 10px;
}
.tags a{
    text-decoration: underline;
    color: #3F3F4E;
    font-weight: bold;
    padding: 2px;
}

.links{ 
    font-weight: bold;
    line-height: 20px;
    list-style: none;
}
.links a{ 
    color: #0B4A63;
    text-decoration: none;
}