body {
    background-color: #ffffff;
    font-family: verdana, sans-serif;
}

.container {
    margin: 0 auto;
    width: 960px;
    font-size: 100%;
    line-height: 1.5;
}
.red-paint,
.blue-paint,
.yellow-paint,
footer {
    width: 299px;
    height: 300px;
    margin-left: 10px;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding: 24px;
    font-weight: bold;
}

main {
    height: 413px;
    width: 940px;
    padding: 10px 10px 0px 0px;
    background-color: #D3D3D3;
    border: 2px solid black;
}

.red-paint {
    background-color: red;
    float: left;
    border: 2px solid black;
}

.blue-paint {
    background-color: blue;
    float: left;
    border: 2px solid black;
}
.yellow-paint {
    background-color: yellow;
    float: left;
    border: 2px solid black;
}
footer {

}